{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>{{recipe.name}}</h1>
  <img id="recipe" src="{{recipe.photo.url}}" alt="{{ recipe.name }}">

  <p>{{recipe.description}}</p>
  <h2>Ingredients</h2>
  <ul>
    {% for ingredient in recipe.ingredient_set.all %}
    <li>{{ingredient.quantity}}: {{ingredient.ingredientName}}</li>
    {% endfor %}
  </ul>
  <h2>Instructions</h2>
  <p>{{recipe.instructions}}</p>


  <h2>Reviews</h2>
  {% if recipe.review_set.all %}
  <h3>{{recipe.review_set.all.count}} Review</h3>
  {% for review in recipe.review_set.all %}
  <div>
    <h3>{{review.title}}</h3>
    <p>{{review.comment}}</p>
    <p>Rating: {{review.rating}}/5</p>
  </div>
  {% endfor %}
  {% else %}
  <p>No reviews available.</p>
  {% endif %}

  <h2>Write a review</h2>
  <form action="{% url 'recipes:add_review' recipe.id %}" method="post">
    {% csrf_token %}
    <div>
      <label for="title">Title</label>
      <textarea name="title" id="title" cols="30" rows="1"></textarea>
    </div>
    <div>
      <label for="comment">Comment</label>
      <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    </div>
    <div>
      <!-- Add rating input -->
      <label for="rating">Rating</label>
      <input type="number" name="rating" id="rating" min="1" max="5">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
  <br>
  <a href="/"><button>Go back</button></a>
</div>



{% endblock %}
